{% load static %}

<!doctype html>
<html lang="en" class="h-100">
<head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}</title>
	<meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>
<body>

        <div class="wrapper">
            
            <div class="search-container">

                <form class="search-bar" action="/" method="GET">

                    {% csrf_token %}

                    <input type="text" placeholder="Введите название" name="query" value="{{ query }}">

                    <button type="submit">Поиск</button>

                </form>

            </div>
        
            <div class="places-container">
            
                {% for place in places %}

                   <div class="place-card">

                       <img src="{% static "images/" %}{{ place.id }}.jpg"  alt=""/>

                       <span>{{ place.name }}</span>

                       <a href="place/{{ place.id }}">
                            <button>Открыть</button>
                       </a>

                    </div>

                {% endfor %} 
            
            </div>
        
        </div>

</body>
</html>